body{transition: all 0.5s ease;margin:0!important;font-family:Poppins,sans-serif!important;letter-spacing:1px!important;color:#1d1e21;background:#fff;font-weight:400; margin: auto!important}

#navbar {
  background-color: inherit;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
  overflow: none;
}

#navbar a {
  float: right;
  display: block;
  color: inherit;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a:hover {
  background-color: #d4cebe;
  color: inherit;
}



h1{text-align:center!important;margin-top:50px!important;font-weight:100!important;font-size:3em}
*{margin:0px;padding:0px;}
.center{margin:auto!important;text-align:center!important}
.vertical-center{min-height:100%;min-height:100vh;display:flex;align-items:center}
.spacing{margin-top:5%;margin-top:5vh;margin-bottom:20%;margin-bottom:20vh}
.title-desc{margin-top:20px!important;margin-bottom:30px!important;max-width:450px!important;font-weight:200;font-size:18px}
@media screen and (max-width: 576px) {.resume-text a{justify-content: center;}}
@media screen and (min-width: 575px) {.resume-text a{justify-content: flex-end;}}

.light-mode{color:#fff!important;background:#1d1e21!important;}
button{  background: url(../img/moon.svg) no-repeat;  color: transparent;  box-shadow: none;  border: none;  width: 50px;  height: 50px;  background-position: center;  position: absolute;  cursor: pointer;  }

.light-mode button{background: url(../img/sun.svg) no-repeat; background-position: center;}
button:focus {outline:0;}

 /* Resume */
.resume-section{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width:0;
  background-color: transparent;
  transition: width 1s;
  z-index: 2;
  /* overflow-y: auto; */
}
.double-arrow{
  position: fixed;
  font-size: 50px;
  color: #00d0ff;
  transition: transform 1s linear;
  /* animation: float 4s ease-in-out infinite; */
}
.double-arrow:hover{
  cursor: pointer;
  animation: none;
}
.drawer {
  top: 50%;
  right: 30px;
  /* cursor: pointer; */
}
.toggleResume{
  width: 65%;
  overflow: auto;
}
.resume-section img:first-child {
  
}
.resume-section img {
  width:100%;
  /* margin-bottom: 30px; */
  height: 100%;
}



.animateHandler{
  cursor: pointer;
  transform: rotate(180deg);
  animation:none;
  color:#00d0ff;
}
  
}


.posts_div li{
	margin: 0 0 10px 0;
}

.posts_div img {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 500px) {
	.hide-on-small-screen{
		display: none;
	}
  
	.posts_div img {
		width: 100%;
	}
	
	.avatar {
		top: 60px;
	}
}

@media only screen and (max-width: 767px) {
	.hide-on-small-screen{
		display: none;
	}
	
	.avatar {
		top: 60px;
	}
}

